.orders-page-container {
  display: flex;
}

.ordered-product-container {
  width: 100%;
  height: 30rem;
  display: flex;
  align-items: flex-start;
  color: var(--text-lighter);
}

.order-card-top-section,
.order-card-bottom-section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 95%;
  padding: 1rem;
  border-radius: 4px;
  background-color: var(--dark-theme-card-bg);
}
