@import url(https://pebblecart-v2.netlify.app/src/style.css);

:root {
  --dark-bg-color: #141517;
  --secondary-dark-bg: #18191a;
  --dark-theme-card-bg: #1a1b1c;
  --dark-theme-card-hover: rgba(40, 40, 40, 0.666);
  --title-color: #e9e9e9;
  --sub-title-color: #cecece;
  --payment-card-hover: rgb(176, 176, 176);
  --coupon-error: rgba(252, 0, 0, 0.18);
  --coupon-success: rgba(34, 252, 0, 0.18);
  --available-coupons: rgba(97, 97, 97, 0.139);
}

.single-product {
  margin-bottom: 2rem;
}

.single-product-image {
  position: relative;
}

.single-product-image > button {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.4rem;
  padding: 10px;
  border-radius: 50%;
}

.product-description-text {
  font-size: 1.2rem;
  word-spacing: 2px;
  line-height: 26px;
  margin-bottom: 7px;
}

.rating-star-container input {
  width: 9px;
}

.notLoggedIn {
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 5rem;
  padding: 1.5rem;
  text-align: center;
  color: var(--text-white);
}
/* card img size */

.card-vertical img,
.card-horizontal img,
.cart-item-card img {
  min-width: 9.5rem;
  height: 8rem;
  object-fit: contain;
}

.card-horizontal img,
.cart-item-card img {
  width: 8rem;
}

@media screen and (max-width: 580px) {
  .card-vertical img,
  .card-horizontal img,
  .cart-item-card img {
    width: 9.5rem;
    height: 8rem;
    object-fit: contain;
  }

  .card-horizontal img,
  .cart-item-card img {
    width: 50rem;
  }

  .card-vertical .card-nav {
    width: 100%;
  }

  .card-vertical .card-cta-btn {
    justify-content: space-between;
    min-width: 100%;
  }
}
