.atm-card-wrapper {
  width: 20rem;
  height: 12rem;
  border-radius: 10px;
  padding: 1rem;
  overflow: hidden;
  margin: 10px;
}

.atm-card-wrapper::-webkit-scrollbar {
  display: none;
}

.atm-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9rem;
  width: 95%;
  margin: 5px auto 0;
  font-weight: 300;
  letter-spacing: 1px;
}

.atm-card-body {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: auto;
  margin-top: 3.8rem;
}

.atm-card-body h1 {
  font-size: 1rem;
  word-spacing: 1.77rem;
  letter-spacing: 1px;
  font-weight: 400;
}

.atm-card-body > h2 {
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 9px 0;
}

.atm-card-body > span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.atm-card-body > span h2 {
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 1px;
  word-spacing: 10px;
}

.atm-card-footer {
  position: relative;
}

.atm-card-type {
  width: 5rem;
  height: auto;
  position: absolute;
  right: -1rem;
}
